<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558619019072-8e5tud7feom8hilpqukd8fu0n81tlqtr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558619019072-8e5tud7feom8hilpqukd8fu0n81tlqtr</string>
	<key>API_KEY</key>
	<string>AIzaSyDjga0TpHfSTSLaUeIslTgbj0qzxEKc_9A</string>
	<key>GCM_SENDER_ID</key>
	<string>558619019072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orun028.profileui</string>
	<key>PROJECT_ID</key>
	<string>profileui-52df8</string>
	<key>STORAGE_BUCKET</key>
	<string>profileui-52df8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558619019072:ios:28e788af1d7ddbc4661ca5</string>
</dict>
</plist>